body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #343a40;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    color: #007bff;
}

#products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

#cart{
	display:block;
	margin: auto;
	width: 30%;
	padding: 10px;
	background-color: #343a40;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.product, .cart-item {
	display: inline-block;
    border: 1px solid #343a40;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product h2, .cart-item h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#total {
    font-size: 2em;
    margin: 20px;
    color: #007bff;
}