body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    background-image: url("assets/bg.svg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #111111;
    line-height: 1.6;
}

header {
    background-color: #343a40;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
	padding: 10px;
	border-radius: 10px;
	background-color: #2c3e7069;
    text-decoration: none;
    font-size: 1.2em;
	transition: 0.5s ease-in-out;
	transition-property: scale, color ,background-color;
}

nav a:hover {
    color: #6be499;
	background-color: #2c3e70aa;
	scale: 1.1;
}

#products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

#cart_container{
	display:block;
	margin: auto;
	width: 30%;
	padding: 10px;
	background-color: #343a40;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product {
	display: inline-block;
    border: 1px solid #343a40;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
	background-color: rgba(32, 153, 131, 0.1);
	color: #fafafa;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-radius: 20px;
	transition: 0.4s ease-in-out;
	transition-property: scale, background-color;
}
.product:hover{
	scale: 1.02;
	background-color: rgba(32, 153, 131, 0.5);

}

.qty-price .price{
	margin-left: auto;
}
.product h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

button{
    background-color: #007bff;
	width: 100%;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
	transition: 0.3s ease-in-out;
	transition-property: scale, background-color;
}

button:hover {
    background-color: #0056b3;
	scale: 1.01;
}

#total {
    font-size: 2em;
    margin: 20px;
    color: #007bff;
}
.hidden{
	display: none;
}
.desc-price{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

@media print{
	@page{
		size: auto;
		margin: 0;
	}
	@page :footer{
		display: none;
	}
	@page :header {
		display: none;
	}
	*{
		color: #111111;
	}
	#total{
		color: #161125;
	}
	.hidden{
		display: unset;
	}
	.no-print{
		display: none;
	}
	header, #products{
		display: none;
	}
	#cart_container{
		display: block;
	}
	#cart_container{
		display: flex;
		background-color: rgba(20,20,20,0.2);
		width: 100%;
		margin: auto;
		padding: 1cm;
		flex-direction: column;
		align-items: center;
		gap: -30px;
	}
	#general{
		display:flex;
		flex-direction: column;
		align-items: center;
	}
	#general *{
		margin: 5px;
	}
	#cart_container	h4{
		margin: 0;
	}

}